extend layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/users.css")

block content
  main.main
    section.section.main-section
      if allUsers.length > 0
        h2.section-title Users List
        p.results Results: #{allUsers.length}
        ul.users__list
          each user in allUsers
            li.users__item
              .user__info
                img.users__img(src="/img/user-circle.png", alt="User profile image")
                h3.users__name #{user.firstname} #{user.lastname}
              .users__control-panel
                - var url = "/users/";
                a.users__btn(href=url + user.id) Check details
                a.users__btn(href=href=url + user.id + "/schedule") Check schedule
      else
        h2.section-title No users